html,
body {
/*    font-family: 'Source Code Pro', monospace;*/
    font-family: monospace;
    min-height: 100%;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: black;
    overflow: hidden;
}
.cursor {
    display: inline-block;
    height: 16px;
    width: 1px;
    background: rgba(255,255,255,.5);
    animation: blink steps(1) 1100ms infinite;
    margin-left: 1px;
}
.cursor.moving {
    animation: none;
}
@keyframes blink {  
    0 {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
.lines {
    box-sizing: border-box;
    padding-top: 10px;
    display: inline-block;
    min-height: 100%;
/*    height: 100%;*/
    width: 50px;
    min-width: 50px;
    flex: none;
/*    background: #09090a;*/
    color: rgba(255,255,255,.45);
/*    border-right: 1px solid #2a3336;*/
    border-right: 1px solid #11181a;
}
.textarea {
    box-sizing: border-box;
    padding: 10px 0 0 0;
/*    overflow: hidden;*/
    display: inline-block;
/*    height: 100%;*/
    flex: auto;
/*    background: #1c1d1f;*/
}
.linenum {
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: right;
    font-size: 12px;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
}
.line {
    display: block;
    width: calc(100% - 6px);
    padding: 1px 0 1px 6px;
    height: 16px;
}
.line.editing {
    background: rgba(255,255,255,.06);
}
.linenum.editing {
    background: rgba(255,255,255,.06);
    color: rgba(255,255,255,.9);
}
.code {
    width: 10px;
    display: inline-block;
    height: 16px;
    border-radius: 3px;
    transition: border-radius 0.5s ease-in-out;
}
.code:not(.tab):not(.space) {
/*    box-shadow: inset 4px 4px 10px rgba(0,0,0,.4);*/
}
.code:not(.tab):not(.space) + .code {
    margin-left: 1px;
}
.comment {
    background: #1b1d21;
}
.string {
    background: #5e8051;
}
.static-variable {
    background: #665aa7;
}
.variable,
.user-variable {
    background: #364283;
}
.operator {
    background: #d4a142;
}
.number {
    background: #a34f4f;
}
.function {
    background: #65452d;
}
.type {
    background: #e0e055;
}
.dot,
.sub-variable{
    background: white;
}
.dot {
    width: 10px;
}
.tab {
    width: 40px;
}
.space {
    width: 10px;
}